.candela-dialog {
    font-family: $font-default;

    .window-content {
        color: $color-gold;
        padding: 0;
    }

    .dialog-content {
        header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 1rem 0.5rem;
            border-bottom: 1px solid transparentize($color-gold-light, 0.5);

            h1 {
                border: none;
                text-transform: uppercase;
                font-family: $font-title;
                padding: 0;
                margin: 0;
            }
        }
    }

    &-help {
        padding: 1rem;
        font-style: italic;
        text-align: center;
        font-size: 1rem;
    }

    .roll-dices {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;
    }

    .roll-dice {
        flex: 1;

        h4 {
            text-align: center;
            font-size: 0.9rem;
        }

        &-counter {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            &-value {
                font-size: 2rem;
                height: 3.5rem;
                width: 3.5rem;
                background: $color-standard-dice;
                color: white;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;

                &.gilded {
                    background-color: $color-gold;
                }
            }

            &-btn {
                color: $color-gold-light;
                border: 1px solid $color-gold;
                background-color: transparent;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2rem;
                width: 2rem;

                &:hover {
                    background-color: $color-gold;
                    color: white;
                    box-shadow: none;
                }

                i {
                    padding-left: 0.2rem;
                }
            }
        }
    }

    .dialog-buttons {
        display: flex;
        border-top: 1px solid transparentize($color-gold-light, 0.5);
        gap: 0;

        button {
            background-color: transparent;
            border: none;
            color: $color-gold;
            font-family: $font-default;
            font-size: 1.2rem;
            border-radius: 0;
            padding: 0.5rem;
            margin: 0;

            &:hover {
                background-color: $color-gold;
                color: white;
            }
        }

        button:not(:last-child) {
            box-shadow: -0.5px 0 0 transparentize($color-gold-light, 0.5) inset;
        }

        button + button {
            margin: 0;
            box-shadow: 0.5px 0 0 transparentize($color-gold-light, 0.5) inset;
        }
    }
}
